*{
    margin: 0;

}

.header{
    display: flex;
    justify-content: space-between;
   padding-right: 80px;
    align-items: center;
}

.header ul{
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 20px;
    
}
.main{
    height: 500px;
    background-color: orangered;
    padding: 30px 70px;
    display: flex;
    justify-content: space-between;
    color: white;
    padding-top: 50px;
   

}

.main-left {
    width: 400px;
}
.main-righ{
width: 700px;
}
.main-left h1{
    font-size: 40px;
}

.main-righ iframe {
    width: 600px;
    height: 300px;
    margin-top: 20px;
    border-top: 28px solid white;
    border-radius: 20px;
}
